/* body {
    background-color: #fff;
}
.test-link {
    color: black;
}
.test-link:hover,
.test-link:focus {
    color: tomato;
}
.test-link:active {
    color: blue;
} */

.container {
    width: 400px;
    margin: 0 auto;
}
.image-container {
    text-align: center;
}
.img {
    display: none;
    width: 70%;
    margin-bottom: 10px;
}